<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>DOM | Date o Meals - Explore Restaurant and Cafe Around You</title>
  <link rel="preload" href="./images/logo/logo.svg" as="image">
  <link rel="preload" href="./images/heros/hero-image-large.jpg" as="image">
  <link rel="preload" href="./images/heros/hero-image-small.jpg" as="image">
  <link rel="preload" href="./font/OpenSans-VariableFont_wdth,wght.ttf" as="font" type="font/ttf">
  <link rel="icon" href="./images/logo/logo.svg">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#FFF"/>
</head>
<body>
  <header>
    <a href="#main" class="skip-to-content">Skip to Content</a>
    <nav id="navbar">
      <figure class="logo">
        <img src="./images/logo/logo.svg" alt="logo-DOM.svg">
      </figure>
      <button class="hamburger clickable">☰</button>
      <ul class="drawer">
        <li><a href="/" id="home" class="clickable">Home</a></li>
        <li><a href="#/favorite" id="favorite" class="clickable">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/nuranisahm/" id="about-us" class="clickable">About Us</a></li>
      </ul>
    </nav>
    <div id="hero">
      <picture class="hero-image">
        <source media="(min-width: 500px)" srcset="./images/heros/hero-image-large.jpg" type="image/jpeg">
        <source srcset="./images/heros/hero-image-small.jpg" type="image/jpeg">
        <img src="./images/heros/hero-image-small.jpg">
      </picture>
      <p class="hero-text">Find best place for your <b>Date o Meals</b> moment</p>
    </div>
  </header>
  <!-- <div class="loader">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
  </div> -->
  </div>
  <main id="main" tabindex="0">
  </main>
  <footer class="footer">
    <p>nocopyright &copy; Date or Meals 2023</p>
    <p>This website is solely for educational purpose</p>
  </footer>
</body>
</html>
